* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#container {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  background-color: white;
  display: flex;
  padding: 50px;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  border: 10px rgb(234, 14, 54) solid;
  border-radius: 30px;
}
#dogImg {
  flex-basis: 50%;
  border-radius: 30px;
}

#dogForm {
  margin-left: 30px;
  line-height: 2;
  flex-basis: 50%;
  /* background-color: red; */
  /* color: white;  */
  border-radius: 30px;
}

#dogFormTitle {
  font-size: 50px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  #dogImg {
    width: 50%;
    height: 50%;
  }
  #dogForm {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  #dogImg {
    display: inline;
    width: 25%;
    height: 25%;
   
  }
  #dogForm {
    display: inline;
    float: left;
    width: 25%;
    height: 25%;
    position: relative;
  }
}
@media screen and (max-width: 559px) {
  #dogImg {
    width: 208px;
    height: 218px;
  }
  #dogForm {
    position: relative;
  right: 200px;
  top: 10px;
  width: 250px;
  }
}

/* match.html styling start */

.header-container {
  background-color: black;
  color: yellow;
  text-align: center;
  padding: 20px 0;
  border: 5px solid white; /* Add border */
  border-radius: 10px; /* Add border radius for rounded corners */
}


#container {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  background-color: white;
  display: flex;
  padding: 50px;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  border: 10px rgb(234, 14, 54) solid;
  border-radius: 30px;
}

#sideNav {
  margin-right: 30px;
}

#sideNav ul {
  list-style-type: none;
  padding: 0;
}

#sideNav ul li {
  margin-bottom: 10px;
}

#sideNav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}

#sideNav ul li a:hover {
  background-color: #f0f0f0;
}

#currentMatch {
  flex-grow: 1;
}

#currentMatchTitle {
  font-size: 50px;
  text-align: center;
}

#matchDetails {
  /* Style current match details */
}

header {
  background-color: black;
  color: yellow;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 36px;
}

.highlight {
  color: yellow;
}